body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
}
.marquee-container {
  overflow: hidden;
  position: relative;
}
svg {
  height: 300px;
  width: 100%;
}
.uppercase-text {
  text-transform: uppercase;
}
svg:nth-child(2) {
  margin-top: -250px;
}
#marquee-text {
  font-size: 50px;
}

@media (max-width: 700px) {
  svg:nth-child(2) {
    margin-top: -270px;
  }
  #marquee-text-2 {
    font-size: 2rem;
  }
}
